* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 60px;    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    /* display: inline; */
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
}

nav ul li a:hover {
    color: aqua;
    border-bottom: 2px solid aqua;
}

body {
    padding-top: 80px;
}

.jumbotron {
    background-color: #f4f6ff;
    padding: 100px 20px 60px;
    text-align: center;
    margin-top: 240px;
}

.section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
    padding-top: 100px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.section:hover {
    transform: scale(1.02);
}

h2 {
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid aqua;
    padding-bottom: 5px;
}

#skills {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#skills h2 {
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid aqua;
    display: inline-block;
    padding-bottom: 5px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skill-card {
    background-color: #f4f6ff;
    color: #333;
    border-radius: 8px;
    padding: 15px 20px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    background-color: aqua;
    color: coral;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 40px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-info h1{
    font-size: 1.5em;
    color: black;
    margin-bottom: 5px;
}

.profile-info p{
    color: #4a4a4a;
}

ul {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.6;
}

.project-item, .certification-item, .education-item{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f6ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.project-item:hover, .certification-item:hover, .education-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #333;
}

p {
    color: #666;
}
#contact p{
    margin-bottom: 5px;
    color: #4a4a4a;
}